
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PolyPrint - Upload</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
</head>
<body>
  <nav class="purple lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/dashboard" class="brand-logo">Poly Print</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/status">Status</a></li>
		<li><a href="/logout">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/upload"">Upload</a></li>
        <li><a href="/status">Status</a></li>
		<li><a href="/logout">Logout</a></li>
		</ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center purple-text">Upload</h1>
      <div class="row center">
        <h5 class="header col s12 light">Please provide a .STL file to print</h5>
      </div>
      <br>
    </div>
  </div>


  <div class="container">
    <div class="section">
	<form action="" method=post enctype=multipart/form-data>
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type=file name=file>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
            </div>
			<div class="row center">
			<button class="btn waves-effect waves-light" type="submit" name="action">Upload
			<i class="material-icons">send</i>
			</button>
			</div>
          </div>
    </form>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l3 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li><a class="white-text" href="/dashboard">Dashboard</a></li>
            <li><a class="white-text" href="/upload"">Upload</a></li>
            <li><a class="white-text" href="/status">Status</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      A project by Jessie Pullaro, Zach Weingarten & Max Farrell
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>

  </body>
</html>
